# Environment
.env
*.env

# Database
*.db
*.sqlite

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test & Coverage
.pytest_cache/
htmlcov/
.coverage
coverage/
